* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: ElegantIcons;
}

body {
    background-color: white;
    font-family: ElegantIcons;
}

@font-face {
    font-family: ElegantIcons;
    src: url(assets/font/HuaweiSans-Bold.woff2);
}

header {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.top-header {
    border-bottom: 1px solid rgb(103, 143, 160);
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    background-color: rgb(31, 50, 58);
    align-items: center;
}

.right-items {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 5px 15px;
    gap: 20px;
}

.about-svg {
    display: flex;
    align-items: center;
}

.about-svg a {
    color: white;
    text-decoration: none;
    font-size: 10px;
}

.left-items {
    color: white;
    margin: 5px 15px;
    font-size: 10px;
}

.about-color {
    color: white;
    text-decoration: none;
    font-size: 10px;
}

.bag {
    display: flex;
    align-items: center;
}

.down-header {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 15px;
}

.down-header a {
    text-decoration: none;
    color: rgb(31, 50, 58);
    padding: 15px;
}

.main-down {
    border: 1px solid rgb(194, 194, 194);
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 20px 15px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 40px;
    width: 100%;
}

.menu ul {
    display: flex;
    gap: 30px;
}

.menu a {
    text-decoration: none;
    color: rgb(31, 50, 58);
    padding: 15px;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.menu a::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: rgb(31, 50, 58);
    position: absolute;
    bottom: 0;
    left: -100%;
    transition: .5s;
}

.menu a:hover::after {
    left: 0;
}

.login {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-top: 5%;
}

.photo {
    width: 48%;
}

.photo img {
    border-radius: 50px 0 50px 0;
}

.login-info {
    width: 48%;
    text-align: center;
    background-color: rgba(186, 176, 167, 0.577);
    border-radius: 0 50px 0 50px;
    height: 700px;
    padding: 20px 0;
}

.login-info form h2 {
    margin-bottom: 20px;
    color: rgb(0, 0, 63);
    font-size: 50px;
}

.box input {
    width: 60%;
    padding: 15px 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid gray;
}

.send input {
    margin-top: 5%;
    padding: 15px 10px;
    width: 60%;
    font-size: 20px;
    background-color: rgb(0, 0, 63);
    color: white;
    border-radius: 8px;
    border: 0;
}

form p {
    color: rgb(121, 90, 90);
}

.submit input {
    padding: 15px 10px;
    width: 60%;
    font-size: 20px;
    background-color: white;
    color: rgb(0, 0, 63);
    border-radius: 8px;
    border: 1px solid rgb(0, 0, 63);
}

.sign-in {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.sign-in p {
    color: black;
}

.sign-in a {
    text-decoration: none;
    color: rgb(1, 1, 114);
}
footer {
    width: 100%;
    height: 600px;
    background-color: rgb(17, 35, 45);
    margin-top: 10%;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
    flex-wrap: wrap;
}

.first-menu {
    color: white;
    width: 18%;
}

.first-menu a {
    text-decoration: none;
    display: inline-block;
    overflow: hidden;
    position: relative;
    transition: .8s;
    color: rgb(183, 183, 183);
}

.first-menu a::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: -100%;
    transition: .5s;
}

.first-menu a:hover::after {
    left: 0;
}

.first-menu a:hover {
    color: white;
}

.first-menu ul li {
    margin-bottom: 30px;
}

.first-menu ul li h2 {
    margin-bottom: 20px;
}

.main-menu {
    display: flex;
    width: 60%;
    align-items: center;
    gap: 150px;
    justify-content: center;
}

.left-item {
    width: 30%;
    margin-left: 20px;
    color: white;
    border-right: 1px solid white;
    height: 300px;
}

.left-item h2 {
    margin-bottom: 50px;
}

.about-email {
    display: flex;
    border-bottom: 1px solid white;
    width: 35%;
    margin-bottom: 40px;
    color: white;
    justify-content: space-between;
}

.down-items {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgb(197, 197, 197);
    padding-top: 40px;
    margin: 0 20px;
}

.about-brands {
    gap: 3px;
}

.logo {
    width: 20%;
}

.about-brands a {
    text-decoration: none;
    color: rgb(191, 191, 191);
}

.about-link a {
    text-decoration: none;
    color: white;
}