* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: ElegantIcons;
}

body {
    background-color: white;
    font-family: ElegantIcons;
}

@font-face {
    font-family: ElegantIcons;
    src: url(assets/font/HuaweiSans-Bold.woff2);
}

header {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.top-header {
    border-bottom: 1px solid rgb(103, 143, 160);
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    background-color: rgb(31, 50, 58);
    align-items: center;
}

.right-items {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 5px 15px;
    gap: 20px;
}

.about-svg {
    display: flex;
    align-items: center;
}

.about-svg a {
    color: white;
    text-decoration: none;
    font-size: 10px;
}

.left-items {
    color: white;
    margin: 5px 15px;
    font-size: 10px;
}

.about-color {
    color: white;
    text-decoration: none;
    font-size: 10px;
}

.bag {
    display: flex;
    align-items: center;
}

.down-header {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 15px;
}

.down-header a {
    text-decoration: none;
    color: rgb(31, 50, 58);
    padding: 15px;
}

.main-down {
    border: 1px solid rgb(194, 194, 194);
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 20px 15px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 40px;
    width: 100%;
}

.menu ul {
    display: flex;
    gap: 30px;
}

.menu a {
    text-decoration: none;
    color: rgb(31, 50, 58);
    padding: 15px;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.menu a::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: rgb(31, 50, 58);
    position: absolute;
    bottom: 0;
    left: -100%;
    transition: .5s;
}

.menu a:hover::after {
    left: 0;
}

@keyframes move {
    from {
        transform: translateX(100%);

    }

    to {
        transform: translateX(-100%);
    }

}

.animation {
    width: 100%;
    margin-top: 10%;
}

.trends {
    background-color: rgb(31, 50, 58);
    color: white;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.first {
    width: 100%;
    padding: 20px 0;
    animation: move 35s infinite linear;
    display: flex;
    gap: 70px;
}
.first h2{
    white-space: nowrap;
    flex-shrink: 0;
}

.about-us {
    width: 100%;
    position: relative;
    height: 570px;
}

.type {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    font-size: 30px;
    transform: translate(-50%, -50%);
    width: 50%;
}

.type h1 {
    margin: 0;
    text-align: center;
}

.art {
    width: 100%;
    text-align: center;
    margin-top: 14%;
}

.items {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.left-image {
    width: 25%;
}

.right-image {
    width: 40%;
}

.right-image h2 {
    margin-bottom: 10px;
}

.right-image p {
    margin-bottom: 40px;
}

.right-image a {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px 20px;
    transition: .5s;
}

.right-image a:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
}

.advantage {
    margin-top: 10%;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: flex-start;
}

.picture {
    width: 46%;
}

.watch-info {
    width: 46%;
}

.text h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.info {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.magnet {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 40%;
    gap: 10px;
    align-items: center;
}

.cover {
    width: 100%;
    position: relative;
    margin-top: 10%;
}

.pic {
    width: 100%;
}

.pic img {
    display: block;
}

.text-pic {
    position: absolute;
    top: 50%;
    left: 15%;
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;
}

.icon {
    display: flex;
    justify-content: center;
}

.text-pic h2 {
    margin-bottom: 30px;
}

.text-pic p {
    color: rgb(62, 26, 26);
    font-size: 20px;
}

.main-brand {
    width: 100%;
}

.brands {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    background-color: rgb(240, 240, 240);
    padding: 30px 10px;
}

.brands img {
    width: 10%;
}

.news {
    width: 100%;
}

.subject {
    text-align: center;
    color: white;
    font-size: 40px;
}

.boxes {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 10px;
}

.first-box {
    width: 30%;
    position: relative;
}

.first-box span {
    position: absolute;
    top: 0;
    right: 30px;
    background-color: rgb(31, 50, 58);
    color: white;
    font-size: 30px;
    padding: 10px;
}

.text-box {
    color: rgb(33, 33, 33);
    margin-top: 7PX;
}

.text-box h2 {
    font-size: 20px;
    font-weight: 100;
    color: rgb(93, 93, 93);
    margin-bottom: 10px;
}

.text-box h3 {
    margin-bottom: 30px;
}

.text-box a {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid rgb(29, 29, 29);
    transition: .4s;
}

.text-box a:hover {
    border-bottom: 0;
}

.main-box {
    overflow: hidden;
}

.first-box img {
    transition: .5s;
    display: block;
    overflow: hidden;
}

.first-box:hover img {
    transform: scale(1.03);
}

.our-news {
    width: 100%;
    margin-top: 10%;
    background-color: rgb(185, 164, 164);
    text-align: center;
    margin: 0 auto;
    height: 400px;
    margin-top: 10%;
}

.text-news {
    width: 50%;
    margin: 0 auto;
}

.text-news p {
    margin-bottom: 40px;
    color: rgb(68, 68, 68);
}

.text-news h2 {
    font-size: 50px;
    padding-top: 15px;
    margin-bottom: 10px;
}

.gif {
    width: 100%;
    margin-bottom: 10px;
}

.our-news a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-decoration: none;
    color: rgb(68, 68, 68);
    width: 20%;
    margin: 0 auto;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

.picturs {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(185, 164, 164);
    padding-bottom: 40px;
}

.about-pic {
    width: 15%;
}

.about-pic img {
    display: block;
}

footer {
    width: 100%;
    height: 600px;
    background-color: rgb(17, 35, 45);
    margin-top: 10%;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
    flex-wrap: wrap;
}

.first-menu {
    color: white;
    width: 18%;
}

.first-menu a {
    text-decoration: none;
    display: inline-block;
    overflow: hidden;
    position: relative;
    transition: .8s;
    color: rgb(183, 183, 183);
}

.first-menu a::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: -100%;
    transition: .5s;
}

.first-menu a:hover::after {
    left: 0;
}

.first-menu a:hover {
    color: white;
}

.first-menu ul li {
    margin-bottom: 30px;
}

.first-menu ul li h2 {
    margin-bottom: 20px;
}

.main-menu {
    display: flex;
    width: 60%;
    align-items: center;
    gap: 150px;
    justify-content: center;
}

.left-item {
    width: 30%;
    margin-left: 20px;
    color: white;
    border-right: 1px solid white;
    height: 300px;
}

.left-item h2 {
    margin-bottom: 50px;
}

.about-email {
    display: flex;
    border-bottom: 1px solid white;
    width: 35%;
    margin-bottom: 40px;
    color: white;
    justify-content: space-between;
}

.down-items {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgb(197, 197, 197);
    padding-top: 40px;
    margin: 0 20px;
}

.about-brands {
    gap: 3px;
}

.logo {
    width: 20%;
}

.about-brands a {
    text-decoration: none;
    color: rgb(191, 191, 191);
}

.about-link a {
    text-decoration: none;
    color: white;
}